/* Global reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #5e2ca5; /* Purple background */
  color: #000; /* Black text */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

/* Form container styles */
.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

/* Form styles */
form {
  margin-top: 20px;
  width: 100%;
}

/* Label styles */
label {
  margin-bottom: 5px;
}

/* Input styles */
input[type="number"] {
  width: 100%;
  max-width: 300px; /* Medium size for input */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Button styles */
button {
  width: 100%; /* Button width same as input */
  padding: 10px;
  margin-bottom: 15px; /* Same spacing as inputs */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.reset {
  background-color: #dc3545; /* Red for "Sıfırla" button */
  color: #fff;
}

button.start {
  background-color: #28a745; /* Green for "Başlat" button */
  color: #fff;
}

button:hover {
  opacity: 0.8; /* Reduced opacity on hover for visual feedback */
}

/* Timers list styles */
#timers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-top: 20px; /* Add margin to separate from the form */
  list-style: none;
}

#timers li {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Light background color with opacity */
  padding: 10px 20px; /* Add padding for better readability */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 20px; /* Increase spacing between timers */
  font-size: 24px; /* Bigger font size */
  color: #343a40; /* Dark text color */
}

#timers li span {
  font-size: 28px; /* Bigger font size */
  color: #007bff; /* Blue text color */
  margin-left: 10px; /* Add some spacing between label and value */
}

.timer-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form items horizontally */
  gap: 10px;
}

.timer-form label {
  text-align: center; /* Center label text */
}

.timer-form input {
  margin: 0 auto; /* Center input horizontally */
  display: block; /* Ensure inputs are displayed as block elements */
  width: 80%; /* Adjust input width as needed */
}
